// Place all the styles related to the accouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container>h2{
  margin-top: 40px;
}

.user-container{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}
.side-navigation{
  background-color: #fff;
  border: 1px solid #dfe2e6;
  width: 350px;
  height: fit-content;
  padding:0 0;
}

.side-nav-item:first-of-type{
  border-bottom: 1px solid #dfe2e6;
}
.side-nav-item{
  padding:20px 25px;
}
.side-nav-item>a{
  color: black;
}
.side-nav-item.active>a{
  color:#ff7757;
}

.side-nav-item.active>a:hover{
  color: #ff7757;
}
.account-info{
  width:95%;
}
.account-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #dfe2e6;
}
.account-title>a{
  color:#0071c1;
}

.account-info-group{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.account-label{
  width:30%;
  padding: 0 0;
  margin: 0 auto;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.account-value{
  width:70%;
  padding: 0 0;
  margin: 0 0;
}