/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
ul{
  padding-left:0
}
li{
  list-style: none;
}
 //ナビゲーションバー
.navbar{
  background-color:#1C1D3B;;
}
.navbar-brand{
  color: white;
  text-decoration: none;
}
.navbar-brand:hover{
  color: white;
  text-decoration: none;
}
.nav-account-img{
  max-width: 42px;
  max-height: 42px;
}
.nav-link
{
  color: white;
}
.nav-link:hover{
  color: white;
}
.nav-link:focus{
  color: white;
}
.nav-link:active{
  color: white;
}
.dropdown-menu.left {
  right: 0px;
}


//accouts,accounts/profile
.container>h2{
  margin-top: 40px;
}

.user-container{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}
.side-navigation{
  background-color: #fff;
  border: 1px solid #dfe2e6;
  width: 350px;
  height: fit-content;
  padding:0 0;
}

.side-nav-item:first-of-type{
  border-bottom: 1px solid #dfe2e6;
}
.side-nav-item{
  padding:20px 25px;
}
.side-nav-item>a{
  color: black;
}
.side-nav-item.active>a{
  color:#ff7757;
}

.side-nav-item.active>a:hover{
  color: #ff7757;
}
.account-info{
  width:95%;
}
.account-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #dfe2e6;
}
.account-title>a{
  color:#0071c1;
}

.account-info-group{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.account-label{
  width:30%;
  padding: 0 0;
  margin: 0 auto;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.account-value{
  width:70%;
  padding: 0 0;
  margin: 0 0;
}
.account-img{
  max-width: 30%;
  max-height: auto;
}

//event/index.html
.event-scroll{
  max-height: 650px;
  overflow-y: auto;
}
@media(max-width:1024px){
  .event-scroll{
    max-height: 500px;
    overflow-y: auto;
  }
}
@media (max-width:768px) {
  .event-main-container{
    flex-flow: column;
  }
  .map-container{
    width: 100%!important;
    margin: 0px!important;
  }
  .container-field{
    display: flex;
    flex-flow: column;
  }
  .event-scroll{
    max-height: 300px;
    overflow-y: auto;
  }
}
@media (max-width:425px){
  .nested-fields {
    flex-flow: column;
    align-items: start!important;
  }
  .nested-fields>div{
    width: 100%;
  }
}