/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
ul{
  padding-left:0
}
li{
  list-style: none;
}
a{
  text-decoration:none;
}

.btn {
  font-size: 12px;
}

.btn-primary {
  font-size: 14px;
}
.btn-outline-primary {
  font-size: 14px;
}

.form-control {
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}

.btn-secondary{
  font-size: 14px;
}
body{
  padding-top: 60px;
  font-size: 13px;
}
@media (max-width:425px) {
  body{
    font-size: 10px !important;
  }
}
 //ナビゲーションバー
.navbar{
  background-color:#1C1D3B;;
}
.navbar-brand{
  color: white;
  text-decoration: none;
}
.navbar-brand:hover{
  color: white;
  text-decoration: none;
}
.nav-account-img{
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.nav-link
{
  color: white;
}
.nav-link:hover{
  color: white;
}
.nav-link:focus{
  color: white;
}
.nav-link:active{
  color: white;
}
.dropdown-menu.left {
  right: 0px;
}

.header-bar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
}

//フッター
.footer {
  width: 100%;
  font-size: 12px;
  z-index: 300;
  margin-top:60px;
}


//フラッシュメッセージ
#flash-message-container {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  pointer-events: none;
}
#flash-message {
  width: 70%;
  margin: 0 auto;
}
@media (max-width:768px) {
  #flash-message{
    width: 100%;
  }
  #flash-message-container {
    position: fixed;
    top: 80px;
  }
}

//accounts/profile
.account-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

//event/index.html
.detail-btn{
  text-align: center;
  padding: auto 4px !important;
  height: auto;
}
.index-card-header{
  height: 50px;
}
.clickable-card{
  font-size: 12px;
  height: auto;
}
.index-map-container{
  width: 60%;
}
#filterSelect {
  font-size: 10px !important;
  width: auto;
}
#sortSelect{
  font-size: 10px !important;
}
.make-event-btn{
  font-size: 12px;
  padding: 5px 10px;
}
.event-main-container{
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
}
.index-card-header{
  padding: 0;
}
.index-card-body{
  padding: 0px 40px;
}

.event-scroll{
  max-height: 550px;
  overflow-y: auto;
  }

@media(max-width:1024px){
  .event-scroll{
    max-height: 500px;
    overflow-y: auto;
  }
}
@media (max-width:768px) {
  .clickable-card{
    font-size: 10px;
    height: auto;
  }
  .events-index{
    padding-top: 430px !important;
  }
  .event-main-container{
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }
  .index-map-container{
    width: 100%;
  }
  .index-map-container{
    width: 100%!important;
    margin: 0px!important;
    position: fixed;
    top:52px;
    z-index: 100;
  }
  .container-field{
    display: flex;
    flex-flow: column;
  }

  .search-selecet-event-nav{
    position: fixed;
    width: 100%;
    top:345px;
    z-index: 100;
    padding-bottom: 0px;
    margin-bottom:  0px;
  }
  .make-event-btn{
    height: 30px;
  }
}
@media (max-width:425px){
  .nested-fields {
    flex-flow: column;
    align-items: start!important;
  }
  .nested-fields>div{
    width: 100%;
  }
}

//events/show
.img-fluid{
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}
.event-show-container{
  width: 70%;
}
@media (max-width:768px) {
  .day-time-container{
    flex-flow: column;
    margin-bottom: 5px;
  }
  .show-card-text{
    margin-bottom: 0;
  }
  .event-show-container{
    width: 100% ;
  }
}

//user show
.user-profile-container{
  width: 55%;
}
@media (max-width:768px) {
  .user-profile-container{
    width: 100%;
  }
}