/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
ul{
  padding-left:0
}
li{
  list-style: none;
}
a{
  text-decoration:none;
}

.btn {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
}

.btn-primary {
  font-size: 14px;
  padding: 0.5rem 1rem;
}
.btn-outline-primary {
  font-size: 14px;
  padding: 0.5rem 1rem;
}

.form-control {
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}

.btn-secondary{
  font-size: 14px;
  padding: 0.5rem 1rem;
}
body{
  padding-top: 45px;
}
 //ナビゲーションバー
.navbar{
  background-color:#1C1D3B;;
}
.navbar-brand{
  color: white;
  text-decoration: none;
}
.navbar-brand:hover{
  color: white;
  text-decoration: none;
}
.nav-account-img{
  max-width: 42px;
  max-height: 42px;
}
.nav-link
{
  color: white;
}
.nav-link:hover{
  color: white;
}
.nav-link:focus{
  color: white;
}
.nav-link:active{
  color: white;
}
.dropdown-menu.left {
  right: 0px;
}

.header-bar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
}
//フッター
.footer {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
  }
}

.footer{

}
//フラッシュメッセージ
#flash-message-container {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  pointer-events: none;
}
#flash-message {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

//accouts,accounts/profile
.container>h2{
  margin-top: 40px;
}

.user-container{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}
.side-navigation{
  background-color: #fff;
  border: 1px solid #dfe2e6;
  width: 350px;
  height: fit-content;
  padding:0 0;
}

.side-nav-item:first-of-type{
  border-bottom: 1px solid #dfe2e6;
}
.side-nav-item{
  padding:20px 25px;
}
.side-nav-item>a{
  color: black;
}
.side-nav-item.active>a{
  color:#ff7757;
}

.side-nav-item.active>a:hover{
  color: #ff7757;
}
.account-info{
  width:95%;
}
.account-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #dfe2e6;
}
.account-title>a{
  color:#0071c1;
}

.account-info-group{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.account-label{
  width:30%;
  padding: 0 0;
  margin: 0 auto;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.account-value{
  width:70%;
  padding: 0 0;
  margin: 0 0;
}
.account-img{
  max-width: 30%;
  max-height: auto;
}

//event/index.html
.detail-btn{
  text-align: center;
  padding-bottom: 0px !important;
  height: auto;
}
.index-card-header{
  height: 50px;
}
.clickable-card{
  font-size: 12px;
  height: auto;
}
.index-map-container{
  width: 60%;
}
#filterSelect {
  font-size: 10px !important;
}
#sortSelect{
  font-size: 10px !important;
}
.make-event-btn{
  font-size: 12px; /* Adjust the font size as needed */
  padding: 5px 10px; 
}
.event-main-container{
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
}
@media(max-width:1440px){
  .event-scroll{
    max-height: 550px;
    overflow-y: auto;
  }
}
@media(max-width:1024px){
  .event-scroll{
    max-height: 500px;
    overflow-y: auto;
  }
}
@media (max-width:768px) {
  .clickable-card{
    font-size: 10px;
    height: auto;
  }
  .events-index{
    padding-top: 430px !important;
  }
  .event-main-container{
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }
  .index-map-container{
    width: 100%;
  }
  .index-map-container{
    width: 100%!important;
    margin: 0px!important;
    position: fixed;
    top:52px;
    z-index: 100;
  }
  .container-field{
    display: flex;
    flex-flow: column;
  }
  .event-scroll{
    max-height: 400px;
    overflow-y: auto;
  }
  .search-selecet-event-nav{
    position: fixed;
    width: 100%;
    top:345px;
    z-index: 100;
    padding-bottom: 0px;
    margin-bottom:  0px;
  }
  .make-event-btn{
    height: 30px;
  }
}
@media (max-width:425px){
  .nested-fields {
    flex-flow: column;
    align-items: start!important;
  }
  .nested-fields>div{
    width: 100%;
  }
}