<div class="container">
  <h2>設定</h2>
  <div class="user-container">
    <ul class="side-navigation">
      <li class="side-nav-item active"><a href="/accounts">アカウント</a></li>
      <li class="side-nav-item"><a href="/accounts/profile">プロフィール</a></li>
    </ul>
    <div class="account-info">
      <div class="account-title">
        <h2>アカウント</h2>
        <a class="acount-edit" href="/users/edit">編集</a>
      </div>
      <div class="account-info-group">
        <label class="account-label">メールアドレス</label>
        <p class="account-value"><%= current_user.email %></p>
      </div>
      <div class="account-info-group">
        <label class="account-label">パスワード</label>
        <p class="account-value">*********</p>
      </div>
    </div>
  </div>
</div>