<% if obj.errors.any? %>
  <div class="error-message bg-warning rounded p-1 mb-3">
    <h5>エラー内容</h5>
    <div class="ms-3">
      <% obj.errors.full_messages.each do |message| %>
        <ul>
          <!-- 一部エラーで Event datesが消えないため以下の処置 -->
          <li><%= message.gsub('Event datesイベント開催日時を設定してください', 'イベント開催日時を設定してください') %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>