<footer class="footer p-0">
  <div class="container text-center">
    <p>
      <a href="/terms">利用規約</a> | <a href="/privacy">プライバシーポリシー</a>
    </p>
    <p>&copy; 2023 XploreNow</p>
  </div>
</footer>
